html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
a {
    color: #4B0082;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* GET STARTED */



/* ========== HEADER BLOCK ========== */

header {
  padding: 0 120px;
  border-bottom: .5px solid #dbdbdb;
}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.main_page_categories_main_block {
  width: 40%;
  display: flex;
  align-items: center;
}

.main_page_categories_main_block a {
  margin-right: 20px;
  color: #596068;
  cursor: pointer;
  font-size: 14px;
}

.main_page_categories_main_block a:hover {
  text-decoration: underline;
}

.main_logo_header_block {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_diff_info_header_block {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #596068;
}

.city_header_diif, .whatsapp_header_diff {
  display: flex;
  align-items: center;
}

.city_header_diif i, .whatsapp_header_diff i {
  margin-right: 5px;
}

.whatsapp_header_diff {
  margin-left: 20px;
}




/* ========== SECTION HEADER ========== */


.section_header_container {
    padding: 10px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .main_filter_search_section_header_block {
    display: flex;
  }
  
  .type_bouquets_filter {
    display: inline-flex;
    align-items: center;
    padding: 15px 10px;
    background-color: #ffe8ef;
    color: #596068;
  }
  
  .type_bouquets_filter i {
    margin-right: 10px;
  }
  
  .search_filter {
    display: flex;
  }
  
  .search_filter input {
    width: 300px;
    border: none;
    background-color: #f8f8f8;
    padding-left: 10px;
    outline: 0;
    appearance: none;
  }
  
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance:none;
  }
  
  .search_filter input[placeholder] {
    font-size: 15px;
  }
  
  .search_block {
    cursor: pointer;
    background-color: #ffe8ef;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 15px;
  }
  
  .main_favourites_section_header_block {
    display: flex;
    align-items: center;
  }
  
  .favourites_favourites {
    display: flex;
    align-items: center;
    color: #596068;
    margin-right: 20px;
  }
  
  .favourites_favourites i {
    margin-right: 10px;
  }
  
  .count_of_favourites {
    position: absolute;
    margin: 0 0 20px 10px;
    background-color: #e8307e;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 100%;
    color: #FFF;
    font-size: 13px;
  }
  
  .cart_favourites {
    display: flex;
    align-items: center;
    color: #596068;
  }
  
  .cart_favourites i {
    margin-right: 10px;
  }
  
  .roadmap_to_this_page {
    padding: 20px 120px;
    display: flex;
    align-items: center;
    color: #596068;
  }

  .roadmap_to_this_page a:hover {
    text-decoration: underline;
  }

  .roadmap_to_this_page p {
    margin: 0 5px;
  }

  .roadmap_to_this_page h1 {
    font-size: 18px;
  }

  .main_cart_bouquet_info_detail_block {
    padding: 0 150px;
    display: flex;
  }

  .image_block_bouquet_info_detail {
    width: 380px;
    height: 440px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .info_block_bouquet_info_detail {
    width: calc(100% - 480px);
    margin-left: 100px;
    display: flex;
    flex-direction: column;
  }

  .title_detail_product_info h1 {
    font-size: 31px;
    font-weight: 400;
    color: #596068;
  }

  .price_of_product_detail_info {
    display: flex;
    align-items: center;
    margin: 20px 0;
  }

  .amount_of_product_detail_info {
    display: inline-flex;
    align-items: center;
    border: 1px solid #737c86;
    padding: 15px 20px;
    color: #596068;
  }

  .amount_of_product_detail_info i,  .amount_of_product_detail_info svg {
    margin: 0;
    padding: 0;
  }

  .amount_of_product_detail_info h1 {
    font-size: 20px;
  }

  .amount_of_product {
    display: flex;
    align-items: center;
    margin: 0 20px;
  }

  .total_amount {
    margin-right: 3px;
  }

  .currency_of_product {
    margin-left: 3px;
  }

  .first_price_of_product_detail {
    display: flex;
    align-items: center;
    margin-left: 30px;
  }

  .first_price_of_product_detail h1, p, span {
    color: #596068;
    font-size: 20px;
    font-weight: 400;
  }

  .first_price_of_product_detail p {
    margin-left: 2px;
  }

  .first_price_of_product_detail span {
    margin: 0 5px;
    font-weight: bold;
  }

  .add_to_my_card_products_block {
    display: flex;
    flex-direction: column;
  }

  .title_add_to_my_card_products_block h1 {
    font-size: 15px;
    color: #596068;
    font-weight: 400;
  }

  .bonus_accerssories_to_product {
    display: flex;
    flex-wrap: wrap;
  }

  .block_bonus_accessories {
    width: 250px;
    display: flex;
    align-items: center;
    margin-top: 20px;
  }

  .block_bonus_accessories input {
    width: 20px;
    height: 20px;
  }

  .image_bonus_product {
    width: 100px;
    height: 100px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 10px 0 20px;
  }

  .plus_bonuses_total_price_block {
    margin-top: 30px;
  }

  .plus_bonuses_total_price_block h1 {
    font-size: 15px;
    color: #596068;
  }

  .with_bonus_price {
    margin-top: 10px;
    display: flex;
    align-items: center;
  }

  .with_bonus_price h1 {
    font-size: 18px;
  }

  .with_bonus_price span {
    font-size: 18px;
    margin: 0 5px;
  }

  .order_bouquet_btn_block {
    cursor: pointer;
    width: 250px;
    height: 57px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f7d1dd;
    margin: 50px 0;
  }

  .order_bouquet_btn_block h1 {
    color: #596068;
    font-weight: 400;
    font-size: 15px;
  }

  .product_detail_info_section_block {
    padding: 30px 120px 50px 120px;
  }

  .main_product_info_block_slider {
    display: flex;
    flex-direction: column;
    border: 1px solid #f1f1f1;
  }

  .title_header_block_product_info {
    display: flex;
    justify-content: space-between;
  }

  .tablink {
    width: calc(100% / 3.02);
    padding: 15px 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
  }

  .tablink h1 {
    color: #596068;
    font-weight: 400;
  }

  .diff_info_section_block_product_info {
    padding: 50px;
  }

  .tabcontent p {
    color: #b4b7ba;
    font-size: 15px;
    line-height: 1.2;
    margin-top: 30px;
    font-weight: 400;
  }

  .tabcontent h2 {
    margin-top: 30px;
    color: #b4b7ba;
    font-size: 15px;
    line-height: 1.2;
    font-weight: bold;
  }

  .tabcontent span {
    font-size: 15px;
    color: #b4b7ba;
  }

  .tabcontent h1 {
    font-size: 31px;
    color: #596068;
    font-weight: 400;
  }




  /* ========== FOOTER BLOCK ========== */


.main_footer_block_about_company {
    padding: 50px 120px;
    display: flex;
    justify-content: space-between;
  }
  
  .about_company_block {
    width: 45%;
  }
  
  .about_company_block .hr {
    width: 64px;
    height: 2px;
    border: none;
    background-color: #f7d1dd;
  }
  
  .about_company_block h1 {
    font-size: 31px;
    color: #596068;
    margin: 20px 0;
  }
  
  .about_company_block p {
    font-size: 15px;
    color: #737c86;
    font-weight: 400;
    line-height: 1.2;
  }
  
  .second_footer_block {
    width: 45%;
    display: flex;
    flex-direction: column;
  }
  
  .our_guarantee_block .hr {
    display: flex;
    justify-content: flex-start;
    width: 64px;
    height: 2px;
    border: none;
    background-color: #f7d1dd;
  }
  
  .our_guarantee_block h1 {
    font-size: 31px;
    color: #596068;
    margin-top: 20px;
  }
  
  .our_guarantee_block p {
    margin-top: 20px;
    font-size: 15px;
    color: #737c86;
    font-weight: 400;
    line-height: 1.2;
  }
  
  .payment_method_block {
    margin-top: 50px;
  }
  
  .payment_method_block .hr {
    width: 64px;
    height: 2px;
    border: none;
    background-color: #f7d1dd;
  }
  
  .payment_method_block h1 {
    font-size: 31px;
    color: #596068;
    margin-top: 20px;
  }
  
  .payment_method_block p {
    margin-top: 20px;
    font-size: 15px;
    color: #737c86;
    font-weight: 400;
    line-height: 1.2;
  }



@media only screen and (max-width: 768px) {

    header {
      padding: 0 50px;
    }
  
    .header_container {
      width: 100%;
      justify-content: space-between;
    }
  
    .main_page_categories_main_block {
      width: 0%;
      align-items: flex-start;
    }
  
    .main_logo_header_block {
      width: 100%;
      align-items: flex-start;
      justify-content: flex-start;
    }
  
    .main_diff_info_header_block {
      width: 100%;
    }
  
    .section_header_container {
      padding: 10px 50px;
      flex-direction: column;
    }
  
    .type_bouquets_filter i {
      padding-right: -5px;
      margin-left: 10px;
    }
  
    .type_bouquets_filter h1 {
      display: none;
    }
  
    .search_filter input {
      width: 500px;
    }
  
    .main_favourites_section_header_block {
      margin: 20px 0;
    }

    .roadmap_to_this_page {
        padding: 20px 50px;
    }
    
    .main_section_filter_block {
        padding: 50px;
    }

    .main_filter_block p {
        margin-left: 30px;
    }
  
    .main_afisha_flowers_block {
      flex-direction: column;
    }
  
    .main_large_flower_block a img {
      width: 100%;
      height: 100%;
    }
  
    .main_small_flowers_block {
      margin-top: 50px;
    }
  
    .main_small_flowers_block a {
      width: 310px;
      margin: 20px 10px;
    }
  
    .main_delivery_at_flowers_container {
      padding: 50px;
    }
  
    .block_flower_delivery {
      width: 320px;
      margin-top: 30px;
    }
  
    .image_block_flower_delivery {
      width: 320px;
      height: 320px;
    }
  
    .flower_background_image_block {
      margin: 75px 0 0 100px;
    }
  
    .phone_background_image_block {
      margin-left: 350px;
    }
  
    .main_control_order_prior_to_delivery {
      flex-direction: column;
    }
  
    .image_block_prior_to_delivery {
      width: 0;
    }
  
    .info_block_prior_to_delivery {
        width: calc(100% - 150px);
        padding: 650px 100px 50px 50px;
    }

    .main_info_block_prior_to_delivery {
        margin: 0 50px 0 0;
    }

    .title_info_block_prior_to_delivery {
        text-align: center;
        margin-left: 50px;
    }
  
    .main_footer_block_about_company {
        padding: 50px;
    }

    .main_cart_bouquet_info_detail_block {
        flex-direction: column;
        padding: 20px 50px;
        align-items: center;
    }

    .image_block_bouquet_info_detail {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info_block_bouquet_info_detail {
        width: 100%;
        padding: 0;
        margin: 30px 0 0 0;
        align-items: center;
    }

    .title_add_to_my_card_products_block {
        margin-left: 80px;
    }

    .bonus_accerssories_to_product {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .plus_bonuses_total_price_block {
        margin-left: 80px;
    }

    .order_bouquet_btn_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .product_detail_info_section_block {
        padding: 0 50px;
    }
  
  }
  
  
  @media only screen and (max-width: 425px) {
  
    header {
      padding: 0 10px;
    }
  
    .header_container {
      width: 100%;
    }
  
    .main_page_categories_main_block {
      width: 0%;
      align-items: flex-start;
    }
  
    .main_logo_header_block {
      width: 100%;
      align-items: center;
      justify-content: center;
    }
  
    .main_diff_info_header_block {
      display: none;
    }
  
    .section_header_container {
      padding: 20px;
    }
  
    .search_filter input {
      width: 280px;
    }
  
    .main_section_selection_flowers {
      padding: 50px 20px;
    }
  
    .main_small_flowers_block {
      margin-top: 10px;
    }
  
    .main_small_flowers_block a {
      width: 100%;
      height: 115px;
      margin: 20px 0 0 0;
    }

    .main_favourites_section_header_block {
        margin: 20px 0;
      }
  
    .roadmap_to_this_page {
        padding: 20px 50px;
    }
      
    .main_section_filter_block {
        padding: 50px 20px;
    }

    .main_filter_block {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .main_filter_block p {
        margin-left: 20px;
    }
  
    .main_delivery_at_flowers_container {
      padding: 20px;
    }
  
    .main_selections_at_delivery_flowers {
      margin: 0;
    }
  
    .block_flower_delivery {
      width: 180px;
      margin-top: 30px;
    }
  
    .image_block_flower_delivery {
      width: 180px;
      height: 180px;
    }
  
    .flower_background_image_block {
      left: -200px;
    }
  
    .phone_background_image_block {
      margin-left: 40px;
    }
  
    .title_info_block_prior_to_delivery {
      margin-left: 50px;
    }
  
    .info_block_prior_to_delivery {
      width: calc(100% - 80px);
      padding: 650px 60px 50px 15px;
    }
  
    .main_footer_block_about_company {
      padding: 50px 20px;
      flex-direction: column;
      justify-content: flex-start;
    }
  
    .about_company_block {
      width: 100%;
    }
  
    .second_footer_block {
      margin-top: 50px;
      width: 100%;
    }

    .title_detail_product_info h1 {
        font-size: 24px;
    }

    .price_of_product_detail_info {
        flex-direction: column;
    }

    .first_price_of_product_detail {
        margin-top: 20px;
    }

    .roadmap_to_this_page h1 {
        font-size: 15px;
    }

    .main_cart_bouquet_info_detail_block {
        padding: 20px;
    }

    .add_to_my_card_products_block {
        padding: 20px;
    }

    .block_bonus_accessories {
        width: 100%;
    }

    .image_bonus_product {
        margin: 0 50px 0 30px;
    }

    .title_add_to_my_card_products_block {
        margin: 0;
    }

    .bonus_accerssories_to_product {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .plus_bonuses_total_price_block {
        width: 100%;
        display: flex;
        flex-direction: column;
        text-align: left;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 30px 0 0 0;
    }

    .product_detail_info_section_block {
        padding: 0 20px;
    }
  
  }
  
  
  @media only screen and (max-width: 375px) {
  
    header {
      padding: 0 10px;
    }
  
    .search_filter input {
      width: 230px;
    }
  
    .block_flower_delivery {
      width: 150px;
      margin-top: 30px;
    }
  
    .image_block_flower_delivery {
      width: 150px;
      height: 150px;
    }
  
    .flower_background_image_block {
      left: -150px;
    }
  
    .phone_background_image_block {
      margin-left: 20px;
    }
  
  }