html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
a {
    color: #4B0082;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* GET STARTED */



/* ========== HEADER BLOCK ========== */

header {
  padding: 0 120px;
  border-bottom: .5px solid #dbdbdb;
}

.header_container {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 20px 0;
}

.main_page_categories_main_block {
  width: 40%;
  display: flex;
  align-items: center;
}

.main_page_categories_main_block a {
  margin-right: 20px;
  color: #596068;
  cursor: pointer;
  font-size: 14px;
}

.main_page_categories_main_block a:hover {
  text-decoration: underline;
}

.main_logo_header_block {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main_diff_info_header_block {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #596068;
}

.city_header_diif, .whatsapp_header_diff {
  display: flex;
  align-items: center;
}

.city_header_diif i, .whatsapp_header_diff i {
  margin-right: 5px;
}

.whatsapp_header_diff {
  margin-left: 20px;
}



/* ========== SECTION HEADER ========== */


.section_header_container {
  padding: 10px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main_filter_search_section_header_block {
  display: flex;
}

.type_bouquets_filter {
  display: inline-flex;
  align-items: center;
  padding: 15px 10px;
  background-color: #ffe8ef;
  color: #596068;
}

.type_bouquets_filter i {
  margin-right: 10px;
}

.type_bouquets_filter h1 {
  font-weight: 400;
}

.search_filter {
  display: flex;
}

.search_filter input {
  width: 300px;
  border: none;
  background-color: #f8f8f8;
  padding-left: 10px;
  outline: 0;
  appearance: none;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance:none;
}

.search_filter input[placeholder] {
  font-size: 15px;
}

.search_block {
  cursor: pointer;
  background-color: #ffe8ef;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}

.main_favourites_section_header_block {
  display: flex;
  align-items: center;
}

.favourites_favourites {
  display: flex;
  align-items: center;
  color: #596068;
  margin-right: 20px;
}

.favourites_favourites i {
  margin-right: 10px;
}

.count_of_favourites {
  position: absolute;
  margin: 0 0 20px 10px;
  background-color: #e8307e;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  color: #FFF;
  font-size: 13px;
}

.cart_favourites {
  display: flex;
  align-items: center;
  color: #596068;
}

.cart_favourites i {
  margin-right: 10px;
}

.main_section_selection_flowers {
  padding: 50px 120px;
  background-color: #f8f8f8;
}

.main_afisha_flowers_block {
  width: 100%;
  display: flex;
}

.main_large_flower_block a img {
  width: 540px;
  height: 385px;
}

.main_small_flowers_block {
  display: flex;
  flex-wrap: wrap;
}

.main_small_flowers_block a {
  width: 265px;
  height: 115px;
  margin: 0 0 20px 19px;
}

.main_small_flowers_block a h1 {
  font-weight: 400;
  width: 50%;
  color: #596068;
  font-size: 18px;
  padding: 65px 0 20px 20px;
}

.main_delivery_at_flowers_container {
  padding: 50px 120px;
  display: flex;
  flex-direction: column;
}

.main_title_delivery_block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title_delivery h1 {
  font-size: 31px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #596068;
}

.view_all_delivery {
  display: flex;
  align-items: center;
}

.view_all_delivery:hover {
  text-decoration: underline;
}

.view_all_delivery h1 {
  font-size: 16px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #596068;
}

.main_selections_at_delivery_flowers {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block_flower_delivery {
  border: 2px solid #f8f8f8;
  width: 253px;
}

.image_block_flower_delivery {
  width: 253px;
  height: 253px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.block_flower_delivery h1 {
  font-size: 18px;
  color: #596068;
  font-family: 'Montserrat';
  text-align: center;
  margin: 15px 0;
  padding: 0 7px;
}

.block_flower_delivery a {
  color: #596068;
}

.block_flower_delivery a:hover {
  text-decoration: underline;
}

.block_flower_delivery hr {
  background-color: #f7d1dd;
  width: 64px;
  height: 2px;
  text-align: center;
  border: none;
}

.block_flower_delivery p {
  font-size: 18px;
  font-weight: 400;
  color: #596068;
  text-align: center;
  margin: 15px 0;
}

.buy_diff_do_flower_delivery {
  display: flex;
}

.buy_delivery_button {
  cursor: pointer;
  width: 80%;
  background-color: #f1f1f1;
  color: #596068;
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
}

.like_delivery_button {
  cursor: pointer;
  width: 20%;
  background-color: #FFF;
  color: #596068;
  font-size: 18px;
  text-align: center;
  padding: 15px 0;
}

.main_control_order_prior_to_delivery {
  display: flex;
}

.image_block_prior_to_delivery {
  width: 50%;
  display: flex;
}

.flower_background_image_block {
  position: absolute;
  margin: 75px 0 0 50px;
}

.phone_background_image_block {
  position: absolute;
  margin-left: 300px;
}

.info_block_prior_to_delivery {
  width: 50%;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 80px 150px;
}

.title_info_block_prior_to_delivery hr {
  border: none;
  width: 64px;
  background-color: #f7d1dd;
  height: 2px;
}

.title_info_block_prior_to_delivery h1 {
  text-align: center;
  font-size: 31px;
  color: #596068;
  font-weight: 400;
  margin: 20px 0;
}

.title_info_block_prior_to_delivery p {
  font-size: 18px;
  color: #98a2ad;
  font-weight: 400;
  text-align: center;
  margin-bottom: 20px;
}

.main_info_block_prior_to_delivery {
  display: flex;
  flex-direction: column;
}

.block_prior_to_delivery {
  width: 100%;
  margin-top: 10px;
  background-color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}

.number_block_prior_to_delivery {
  width: 45px;
  height: 45px;
  background-color: #f7d1dd;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number_block_prior_to_delivery h1 {
  color: #596068;
  font-size: 18px;
  font-weight: 400;
}

.title_prior_to_delivery {
  width: calc(100% - 45px);
  padding: 0 25px 0 27px;
}

.title_prior_to_delivery h1 {
  font-size: 18px;
  color: #596068;
  font-weight: 400;
}


/* ========== FOOTER BLOCK ========== */


.main_footer_block_about_company {
  padding: 50px 120px;
  display: flex;
  justify-content: space-between;
}

.about_company_block {
  width: 45%;
}

.about_company_block .hr {
  width: 64px;
  height: 2px;
  border: none;
  background-color: #f7d1dd;
}

.about_company_block h1 {
  font-size: 31px;
  color: #596068;
  margin: 20px 0;
}

.about_company_block p {
  font-size: 15px;
  color: #737c86;
  font-weight: 400;
  line-height: 1.2;
}

.second_footer_block {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.our_guarantee_block .hr {
  display: flex;
  justify-content: flex-start;
  width: 64px;
  height: 2px;
  border: none;
  background-color: #f7d1dd;
}

.our_guarantee_block h1 {
  font-size: 31px;
  color: #596068;
  margin-top: 20px;
}

.our_guarantee_block p {
  margin-top: 20px;
  font-size: 15px;
  color: #737c86;
  font-weight: 400;
  line-height: 1.2;
}

.payment_method_block {
  margin-top: 50px;
}

.payment_method_block .hr {
  width: 64px;
  height: 2px;
  border: none;
  background-color: #f7d1dd;
}

.payment_method_block h1 {
  font-size: 31px;
  color: #596068;
  margin-top: 20px;
}

.payment_method_block p {
  margin-top: 20px;
  font-size: 15px;
  color: #737c86;
  font-weight: 400;
  line-height: 1.2;
}



@media only screen and (max-width: 768px) {

  header {
    padding: 0 50px;
  }

  .header_container {
    width: 100%;
    justify-content: space-between;
  }

  .main_page_categories_main_block {
    width: 0%;
    align-items: flex-start;
  }

  .main_logo_header_block {
    width: 100%;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .main_diff_info_header_block {
    width: 100%;
  }

  .section_header_container {
    padding: 10px 50px;
    flex-direction: column;
  }

  .type_bouquets_filter i {
    padding-right: -5px;
    margin-left: 10px;
  }

  .type_bouquets_filter h1 {
    display: none;
  }

  .search_filter input {
    width: 500px;
  }

  .main_favourites_section_header_block {
    margin: 20px 0;
  }

  .main_section_selection_flowers {
    padding: 50px;
  }

  .main_afisha_flowers_block {
    flex-direction: column;
  }

  .main_large_flower_block a img {
    width: 100%;
    height: 100%;
  }

  .main_small_flowers_block {
    margin-top: 50px;
  }

  .main_small_flowers_block a {
    width: 310px;
    margin: 20px 10px;
  }

  .main_delivery_at_flowers_container {
    padding: 50px;
  }

  .block_flower_delivery {
    width: 320px;
    margin-top: 30px;
  }

  .image_block_flower_delivery {
    width: 320px;
    height: 320px;
  }

  .flower_background_image_block {
    margin: 75px 0 0 100px;
  }

  .phone_background_image_block {
    margin-left: 350px;
  }

  .main_control_order_prior_to_delivery {
    flex-direction: column;
  }

  .image_block_prior_to_delivery {
    width: 0;
  }

  .info_block_prior_to_delivery {
    width: calc(100% - 150px);
    padding: 650px 100px 50px 50px;
  }

  .main_footer_block_about_company {
    padding: 50px;
  }

}


@media only screen and (max-width: 425px) {

  header {
    padding: 0 10px;
  }

  .header_container {
    width: 100%;
  }

  .main_page_categories_main_block {
    width: 0%;
    align-items: flex-start;
  }

  .main_logo_header_block {
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .main_diff_info_header_block {
    display: none;
  }

  .section_header_container {
    padding: 20px;
  }

  .search_filter input {
    width: 280px;
  }

  .main_section_selection_flowers {
    padding: 50px 20px;
  }

  .main_small_flowers_block {
    margin-top: 10px;
  }

  .main_small_flowers_block a {
    width: 100%;
    height: 115px;
    margin: 20px 0 0 0;
  }

  .main_delivery_at_flowers_container {
    padding: 20px;
  }

  .main_selections_at_delivery_flowers {
    margin: 0;
  }

  .block_flower_delivery {
    width: 180px;
    margin-top: 30px;
  }

  .image_block_flower_delivery {
    width: 180px;
    height: 180px;
  }

  .flower_background_image_block {
    left: -200px;
  }

  .phone_background_image_block {
    margin-left: 40px;
  }

  .title_info_block_prior_to_delivery {
    margin-left: 50px;
  }

  .info_block_prior_to_delivery {
    width: calc(100% - 70px);
    padding: 650px 60px 50px 15px;
  }

  .main_footer_block_about_company {
    padding: 50px 20px;
    flex-direction: column;
    justify-content: flex-start;
  }

  .about_company_block {
    width: 100%;
  }

  .second_footer_block {
    margin-top: 50px;
    width: 100%;
  }

}


@media only screen and (max-width: 375px) {

  header {
    padding: 0 10px;
  }

  .search_filter input {
    width: 230px;
  }

  .block_flower_delivery {
    width: 150px;
    margin-top: 30px;
  }

  .image_block_flower_delivery {
    width: 150px;
    height: 150px;
  }

  .flower_background_image_block {
    left: -150px;
  }

  .phone_background_image_block {
    margin-left: 20px;
  }

}